
.sol{
    justify-content: center;
    text-align: center;
}
.asu{
    border-width: 5px 0 5px 10px;
    width: 1500px;
    height: 1000px;
    text-align: left;
    margin-top: auto;
}
.pas{
    text-align: center;
}

